body {
    background-color: #F8F7FF;
    text-align: center;
}

.puppie {
    font-family: fantasy;
}

.secret {
    opacity: 0.5;
}

ul {
    list-style-type: none;
    padding-inline-start: 0;
}

table,
th,
td {
    border: gray 1px solid;
    text-align: center;
}

table {
    margin: 0 auto;
}

.cabbage {
    color: chartreuse;

}